---
layout: default
---

<h1 class="page-title">Past Conferences</h1>

<div class="conferences-container">
  {% if page.past_conferences %}
    <ul class="past-conferences-list">
      {% for conference in page.past_conferences %}
        <li class="past-conference-item">
          {% if conference.link %}
            <a href="{{ conference.link }}" target="_blank" rel="noopener noreferrer">
              {{ conference.title }} - {{ conference.date }}
            </a>
          {% else %}
            {{ conference.title }} - {{ conference.date }}
          {% endif %}
          {% if conference.location %}
            <span style="color: var(--color-text-light);"> ({{ conference.location }})</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <!-- Default example -->
    <ul class="past-conferences-list">
      <li class="past-conference-item">
        <a href="#">2024 WEFIDEV Conference - Example</a>
      </li>
      <li class="past-conference-item">
        <a href="#">2023 WEFIDEV Conference - Example</a>
      </li>
    </ul>
  {% endif %}
</div>

{{ content }}

