---
layout: default
---

<h1 class="page-title">Working Papers</h1>

<div style="text-align: center; margin-bottom: 2rem;">
  <a href="{{ '/submit-working-paper' | relative_url }}" class="conference-link" style="display: inline-flex;">
    <span>Submit Your Working Paper</span>
  </a>
</div>

<div id="working-papers-container" class="working-papers-container" data-sheets-url="{{ site.google_sheets.working_papers_url }}">
  <div class="papers-loading">Loading working papers...</div>
</div>

{{ content }}

<script src="{{ '/assets/js/working-papers.js' | relative_url }}"></script>

